.stats-card {
  background-color: white;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 200px;
  /* Adjust width as needed */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-logo {
  width: 100px;
  /* Adjust logo size as needed */
  height: auto;
}

.card-content {
  padding: 1rem;
}

.card-content h3,
.card-content p {
  margin: 0;
  /* Remove default margin */
}

.title {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
